:root {
  --color-1: #ffe6bc;
  --color-2: #e4cda7;
  --color-3: #8e806a;
  --color-5: #8e806a7c;
  --color-4: #c3b091;
}

.cart-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  height: 80vh;
  margin: 150px 0;
}

.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  height: 100%;
  background-color: var(--color-5);
  border-radius: 10px;
  color: #fff;
}

.cart-items-container {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 40%;
  height: 100%;
  overflow-y: scroll;
  max-height: 80vh;
  background-color: rgb(252, 252, 252);
  border-radius: 10px;
}

.cart-items-container::-webkit-scrollbar {
  display: none;
}

.no-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-color: rgb(252, 252, 252);
  border-radius: 10px;
}
