/* PRODUCT CARD */
.productCard {
  min-width: 320px;
  box-shadow: none;
  margin: 5px;
}

.productCard .icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: rgb(92, 92, 92);
  z-index: 2;
}

.productCard img.productImage {
  object-fit: scale-down;
}

.hoverImage {
  position: absolute;
  object-fit: scale-down;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.3s;
}

.hoverImage:hover {
  transition: 0.2s;
  opacity: 0;
  cursor: pointer;
}

.productCard span.price-unit {
  font-size: 0.7rem;
}
