@import url("https://fonts.googleapis.com/css?family=Varela+Round");

:root {
  --color-1: #ffe6bc;
  --color-2: #e4cda7;
  --color-3: #8e806a;
  --color-5: #8e806a7c;
  --color-4: #c3b091;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background: #000;
  color: #fff;
}

body {
  font-family: "Varela Round", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #eaeaea;
}

.App {
  flex-grow: 1;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 3px solid var(--color-2);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.link-none {
  text-decoration: none;
  color: #fff;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 0.5rem;
}

.Header {
  position: relative;
  height: 80vh;
  display: block;
  width: 100%;
  object-fit: contain;
}
.Header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0px 0px;
  overflow: hidden;
  z-index: -1;
  background-image: url("https://images6.alphacoders.com/103/thumb-1920-1035008.jpg");
  background-position: 20% 70%;
}

.Header-background::before,
.Header-background::after {
  display: block;
  position: absolute;
  content: "";
  width: 80%;
  height: 33.333333333333336%;
  opacity: 0.3;
  filter: blur(15px);
}
.Header-background::before {
  background: var(--color-1);
  right: 0;
}
.Header-background::after {
  background: var(--color-2);
  bottom: 0;
}
/* .Header-content {
  text-align: center;
  padding: 4rem 4rem;
  margin: 0 auto;
} */
@media (min-width: 58rem) {
  .Header-content {
    text-align: left;
    padding: 10rem 4rem;
    max-width: 54rem;
    display: flex;
    justify-content: space-between;
  }
}
.Header-hero h1,
.Header-hero p {
  color: #fff;
  text-shadow: 0 0.5rem 1rem rgba(50, 0, 100, 0.1);
}
.Header-hero h1 {
  margin: 0;
  font-size: 3rem;
}
.Header-hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.Header-visuals {
  position: relative;
  margin-top: 5rem;
  transform: rotate(-10deg);
}
@media (min-width: 58rem) {
  .Header-visuals {
    margin: 0;
    transform: translateY(-5rem) rotate(-10deg);
  }
}
.Button {
  padding: 0.8rem 2.5rem;
  border: 0;
  color: var(--color-3);
  font-size: 1.2rem;
  font-weight: bold;
  background: #fff;
  border-radius: 3px;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0 1.75rem 2rem -0.4rem rgba(50, 0, 100, 0.15);
}
.Button:hover {
  box-shadow: 0 1.75rem 3rem 0rem rgba(50, 0, 100, 0.1);
  transform: scale(1.05);
}
.Button:active {
  box-shadow: 0 1.75rem 2.5rem -0.2rem rgba(50, 0, 100, 0.125);
  transform: scale(1.025);
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: var(--color-3) !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: var(--color-3) !important;
}
