#alert-dialog-title {
  font-family: Raleway;
  text-align: center;
}

#alert-dialog-description {
  font-family: Raleway;
  text-align: center;
}

/* #modal-content {
  width: 400px;
} */

ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  list-style-position: inside;
  list-style-type: circle;
}
